<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
    <form method="POST" action="/submit-form">
      <input type="text" name="name">
      <button>Submit</button>
    </form>
  </body>
</html>
